{
  "application_name": "file",
  "application_package": "com.mercandalli.android.apps.files",
  "channel": "internal",
  "rollout_percentage": "0.1",
  "app_bundle_path": "./build/app.aab",
  "client_secret_path": "play-store-authentication.json"
}
