<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mercandalli.android.sdk.files.api">

    <application>

        <!-- region - File path with Android N -->
        <!-- http://stackoverflow.com/questions/38200282/android-os-fileuriexposedexception-file-storage-emulated-0-test-txt-exposed -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>
        <!-- endregion - File path with Android N -->

    </application>

</manifest>
